---
import Links from "./Links.astro";

import { userGithub } from "@store/state";

const {
  name,
  login,
  avatar_url,
  bio,
  created_at,
  public_repos,
  followers,
  following,
} = userGithub.get();

// format date in day month year
const formatDate = (date: string) => {
  const newDate = new Date(date);
  const month = newDate.toLocaleString("default", { month: "short" });
  const day = newDate.getDate();
  const year = newDate.getFullYear();

  return `${day} ${month} ${year}`;
};
---

<section>
  <aside>
    <img src={avatar_url} alt="" width="150" height="150" />
  </aside>

  <article>
    <header>
      <div>
        <h2>{name}</h2>
        <h4>@{login}</h4>
      </div>

      <span>Joined {formatDate(created_at)}</span>
    </header>

    <p>{bio}</p>

    <section class="stats">
      <div>
        <h4>Repos</h4>
        <span>{public_repos}</span>
      </div>
      <div>
        <h4>Followers</h4>
        <span>{followers}</span>
      </div>
      <div>
        <h4>Following</h4>
        <span>{following}</span>
      </div>
    </section>

    <Links />
  </article>
</section>

<style scoped>
  img {
    border-radius: 50%;
  }
  section {
    background: var(--dark-blue2);
    margin-top: 1rem;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    /* justify-content: space-evenly; */
    /* gap: 2rem; */
  }

  aside {
    margin-left: 2rem;
    margin-top: 2rem;
    width: 25%;
  }

  article {
    /* margin-left: 2rem; */
    /* margin-top: 2rem; */
    width: 75%;
    padding-right: 2rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    margin-top: 2rem;
    margin-right: 2rem;
    /* border: 1px solid var(--dark-blue); */
  }

  header h2,
  h4 {
    margin: 0;
  }

  header h2 {
    font-weight: bold;
  }

  header h4 {
    color: var(--dark-blue);
  }

  header span {
    display: block;
    margin-top: 0.2rem;
    /* margin-right: 2rem; */
  }

  p {
    font-size: 14px;
  }

  .stats {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;

    background: var(--dark-black);
  }

  .stats div {
    padding: 1rem 0;
    width: 33%;
  }

  .stats div:nth-child(1) {
    padding-left: 1.5rem;
  }
</style>
